<div class="row">
    <div class="col-xs-12 col-sm-2">
        <button type="button" class="btn btn-block btn-outline-success" (click)="onCreate();openModal(templateModal)">
            <i class="fa fa-plus"></i> Agregar
        </button>
    </div>
  </div>
  <app-data-table [columns]="this.columns" [data]="dataGnrl" [options]="true" 
      (editEvent)="onEdit($event);openModal(templateModal)" (deleteEvent)="onDelete(templateConfirm, $event)">
  </app-data-table>
  <ng-template #templateModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Usuarios</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-modal-menus [data]="dataModal" (savedEvent)="savedInfo()"></app-modal-menus>
    </div>
  </ng-template>
  <ng-template #templateConfirm>
      <app-modal-confirm (confirmEvent)="deletedInfo()" (declineEvent)="savedInfo()"></app-modal-confirm>
  </ng-template>