<div class="row">
    <div class="col-12 form-group m-t-40">
      <div class="col-12">
        Nombre: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.raz_soc">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 form-group m-t-40">
      <div class="col-12">
          Identificaicon: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.num_ide">
      </div>
    </div>
    <div class="col-6 form-group m-t-40">
      <div class="col-12">
        Email: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 form-group m-t-40">
      <div class="col-12">
        Telefono 1: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.tel_1_sede_pri">
      </div>
    </div>
    <div class="col-6 form-group m-t-40">
      <div class="col-12">
        Telefono 2: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.tel_2_sede_pri">
      </div>
    </div>
  </div>
 
  <div class="col-12">
      <button type="button" class="btn waves-effect waves-light btn-success btn-block" (click)="onSave()">
        <i class="fa fa-save"></i>
        Aceptar
      </button>
  </div>