<div class="row">
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
      Icono: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.icono">
    </div>
  </div>
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
      Texto: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.texto">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
      Accion: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.accion">
    </div>
  </div>
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
      Orden: <input class="form-control col-12" type="text" [(ngModel)]="dataForm.orden">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
        Nivel: 
        <select class="form-control" [(ngModel)]="dataForm.nivel">
            <option *ngFor="let c of menuPrincpales" [ngValue]="c.id">{{c.texto}}</option>
        </select>
    </div>
  </div>
  <div class="col-6 form-group m-t-40">
    <div class="col-12">
        Estado: 
        <select class="form-control" [(ngModel)]="dataForm.estado">
            <option *ngFor="let c of itemsEstado" [ngValue]="c.id">{{c.value}}</option>
        </select>
    </div>
  </div>
</div>
  
  <div class="col-12">
      <button type="button" class="btn waves-effect waves-light btn-success btn-block" (click)="onSave()">
        <i class="fa fa-save"></i>
        Aceptar
      </button>
  </div>
  