
  <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
  <div class="dropdown-menu dropdown-menu-right animated flipInY">
      <ul class="dropdown-user">
          <li>
              <div class="dw-user-box">
                  <div class="u-img"><img src="./assets/images/users/1.jpg" alt="user"></div>
                  <div class="u-text">
                      <h4>{{userLogged.Nombre}}</h4>
                      <p class="text-muted">{{userLogged.email}}</p><a class="btn btn-rounded btn-danger btn-sm">Ver Perfil</a></div>
              </div>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href="#" (click)="onLogout()"><i class="fa fa-power-off"></i> Salir</a></li>
      </ul>
  </div>
